/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/dez/2015, 12:54:22
    Author     : victorcmaf
*/
.root { -fx-font: 12px "Arial";  }
.column-header-background { -fx-background-color: azure; }
/*.willPayRow { -fx-background-color: palegreen;  }*/
/*.porAprovarRow { -fx-background-color: #99ddff;  }*/
/*.willPayRow {-fx-background-color: #b3d8ff;  }*/
/*.porAprovarRow { -fx-background-color: #adebad;  }*/
.porAprovarRow {}
.willPayRow{}
.wontPayRow {-fx-font: 11px "Arial black"}
.caixaEnviadosRow{}
/*.willPayRow {}
.wontPayRow {-fx-background-color: #b3d8ff;}*/
/*.wontPayRow { -fx-background-color: #f2f2f2; -fx-font: 12px "Arial"; }*/
.willPayCell { -fx-background-color: forestgreen; }
.wontPayCell { -fx-background-color: firebrick; }
.table-row-cell:empty { -fx-background-color: white; }
.table-row-cell:empty .table-cell { -fx-border-width: 1px; }

/*
.table-row-cell:highlighted {
    -fx-background-color: brown;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}
*/